.partner-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.partner-card-upper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: var(--white1);
    position: relative;
    border-radius: 20px 20px 0 0;
}

/* Brand logo */
.partner-card-upper img {
    height: 150px;
    width: auto;
}

.partner-card-bottom {
    background-color: var(--red1);
    border-radius: 0 0 20px 20px;
    text-align: center;
    color: var(--white1);
    font-size: 1.3rem;
    padding: 15px;
}

@media (min-width: 1000px) {
    .partner-card-container {
        width: 400px;
    }
}