/* Header global styles */
header {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

header nav {
    display: flex;
    align-items: center;
}

/* Menu icon styles */
header button {
    width: 36px;
    height: 36px;
    fill: var(--white1);
    background: none;
}

/* Header title styles */
header h1 {
    color: var(--white1);
    font-size: 1.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    cursor: pointer;
    text-wrap: nowrap;
}