header {
    background-color: var(--black1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

header nav {
    display: flex;
    align-items: center;
}

header button {
    width: 36px;
    height: 36px;
    fill: var(--white1);
    background: none;
}

header svg {
    transition: fill 0.2s, rotate 0.3s;
}

header svg:hover {
    fill: var(--white2);
}

header img {
    color: var(--white1);
    font-size: 1.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    cursor: pointer;
    height: 35px;
    width: auto;
}
