footer {
    background-color: var(--red1);
    padding: 15px;
}

footer > p:nth-child(1) {
    font-size: 1.2rem;
}

footer p {
    color: var(--white1);
}

.social-badge {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.footer-links {
    display: flex;
    gap: 10px;
}