.subtitle {
    display: inline-flex;
    align-items: center;
    background-color: var(--red1);
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0 15px 0;
}

.subtitle svg {
    color: var(--white1);
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

.subtitle p {
    color: var(--white1);
    font-size: 1.4rem;
}