footer {
    background-color: var(--red1);
    padding: 15px;
}

footer > p:nth-child(1) {
    font-size: 1.2rem;
}

footer p {
    color: var(--white1);
}

footer svg {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-link {
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
}