.question-container {
    background-color: var(--white1);
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 15px;
}

/* separator */
.question-container div {
    height: 1px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--black1);
}

.question-container>:nth-child(1) {
    color: var(--red1);
    font-size: 1.3rem;
}

.question-container>:nth-child(3) {
    color: var(--black1);
    font-size: 1rem;
}