.filter-input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    color: var(--black1);
}

.filter-input-container input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    border-radius: 15px;
    border: 2px solid transparent;
    outline: 0px;
    transition: border 0.2s;    
    font-size: 1rem;
}

.filter-input-container input:focus, .filter-input-container input:hover {
    border: 2px solid var(--red1);
}

.filter-input-container input::placeholder {
    color: var(--black1);
}

.filter-input-container svg {
    color: var(--black1);
    position: absolute;
    margin-left: 6px;
    width: 35px;
    height: 35px;
}